@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
:root {
    --primary-color: #2F5260;
    --secondary-color: #759AAB;
    --accent1-color: #FFC145;
    --accent2-color: #F5F5F5;
    --heading-font: 'Open Sans', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;
    --nav-background-color: #2F5260;
    --nav-link-color: #F5F5F5;
    --nav-hover-link-color: #FFC145;
    --nav-hover-background-color: #759AAB;
  }
  
  body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
  }
  
  header {
    padding: 10px;
    background-color: var(--primary-color);
  }
  
  p {
    padding: 10px 0;
  }
  nav {
    background-color: var(--nav-bg-color);
    font-size: 1.2rem;
    display: flex;
  }
  
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }
  
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-bg-color);
  }