@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root{
    --primary-color:#134266 ;
    --secondary-color: #78C5D7;
    --accent-color: #F8F8FF;
    --additional-accent-color:#FCE172 ;
    --heading-font: Bebas;
    --paragraph-or-default-font:Bebas ;
    --navigation-background-color:#FCE172 ;
    --navigation-link-color:#134266 ;
    --navigation-hover-link-color: #F8F8FF;
    --navigation-hover-background-color:#FCE172 ;
}

h1,h2,h3,h4,h5,h6{
    color:var(--accent-color);
    font-family: var(--heading-font);
}

header{
    padding: 20px;
    background-color: var(--secondary-color);
}

p{
    padding: 25px;
}

nav{
    background-color: var(--navigation-background-color);
    font-size: 1.2rem;
    display: flex;

}

nav a{
    display: block;
    color:var(--navigation-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link , nav a:visited {
    color:var(--navigation-link-color)
}

nav a:hover {
    color: var(--navigation-hover-link-color);
    background-color:var(--navigation-hover-background-color) ;
}

